.right {
    width: 25%;
    padding: 40px 0px;
    padding-right: 10px;
    overflow: hidden;

    .settings-menu-toggler-container {
        display: flex;
        justify-content: flex-end;
    }
    
    .settings-menu-toggler {
        background: none;
        border: none;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        transition: 400ms;
        display: flex;
        transform: translateY(-5px);

        &:hover {
            background: #00000022;
        }

        svg {
            width: 20px;
            color: $textColor;
        }
    }

    .settings-menu {
        transition: 500ms;
        transform: translateX(110%);

        &.show {
            transform: none;
        }

        ul {
            display: flex;
            flex-direction: column;
            padding: 0;
            gap: 20px;

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;

                h5 {
                    color: $textColor;
                    font-weight: 500;
                    margin: 0;
                    font-size: 14px;
                }

                .toggler {
                    // background: #A3A1A1;
                    border: 1px solid #A3A1A1;
                    border-radius: 10px;
                    padding: 5px 15px;
                    position: relative;
                    cursor: pointer;
                    transition: 400ms;

                    .circle {
                        background: $textColor;
                        padding: 8px;
                        position: absolute;
                        left: -1px;
                        top: -3px;
                        border-radius: 50%;
                        transition: 400ms;
                    }

                    &.toggled {
                        background: #A3A1A1;

                        .circle {
                            background: $textColor;
                            border-color: $textColor;
                            left: calc(100% - 15px);
                        } 
                    }
                }
            }
        }
    }
}
