.city-and-date {
    color: $textColor;
    display: flex;
    justify-content: space-between;

    h3 {
        font-weight: 500;
        margin-top: 0;
        font-size: 18px;
    }

    .clocks {
        height: 22px;
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow: hidden;

        .greeting, .time {
            transition: 400ms;
            margin: 0;
            animation: clocks-transform 10s infinite;
        }

    }

    // &:hover {
    //     .greeting, .time {
    //         transform: translateY(-100%);
    //     }
    // }
}

@keyframes clocks-transform {
    0% {
        transform: translateY(0);
    }
    45% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100%);
    }
    95% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}