.city-and-date {
    color: $textColor;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .city {
        display: flex;
        
        h3 {
            font-weight: 500;
            margin: 0;
            font-size: 18px;
            cursor: default;
        }

        .edit-city {
            border: none;
            background: transparent;
            cursor: pointer;
            opacity: 0;
            margin-left: 3px;
            transition: 300ms;
            transform: translateY(1px);

            svg {
                width: 14px;
                height: 14px;
                color: $textColor;
            }
        }

        &:hover .edit-city {
            opacity: 1;
        }
    }

    .clocks {
        height: 22px;
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow: hidden;

        .greeting,
        .time {
            transition: 400ms;
            margin: 0;
            animation: clocks-transform 10s infinite;
        }
    }
}

@keyframes clocks-transform {
    0% {
        transform: translateY(0);
    }
    45% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100%);
    }
    95% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
