.daily-forecast {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding: 10px 0px;

    .forecast-day {
        list-style: none;
        margin: 0;
        padding: 0px 10px;
        display: flex;
        align-items: stretch;
        gap: 10px;
        border: 2px solid $forecastGreyColor;
        border-radius: 10px;
        position: relative;

        &::-webkit-scrollbar {
            height: 4px;
            border-radius: 4px;
            background: $forecastGreyColor;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background: $textColor;
        }

        .weekday {
            background: $widgetBgColor;
            padding-right: 15px;
            padding-left: 10px;
            position: sticky;
            left: -1px;
            z-index: 100;
            display: flex;
            align-items: center;
            border-radius: 10px;

            h4 {
                margin: 0;
            }
        }

        .forecast-cell {
            margin: 10px 0px;
            padding: 5px 15px;
            text-align: center;
            cursor: pointer;
            border: 2px solid transparent;
            border-radius: 10px;
            transition: 300ms;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover {
                // border: 2px solid $forecastGreyColor;
                background: $weatherTextColor;

                .time,
                .temperature {
                    color: $widgetBgColor;
                }

                .active-indicator {
                    background: $widgetBgColor;
                }
            }

            .time {
                color: $textColor;
                font-size: 12px;
                margin: 10px 0px;
                transition: 300ms;
                margin-bottom: 8px;
            }

            .temperature {
                color: $weatherTextColor;
                margin: 10px 0px;
                transition: 300ms;
                margin-top: 0;
                position: relative;

                .degree {
                    position: absolute;
                }
            }

            .forecast {
                color: $forecastGreyColor;
                margin: 10px 0px;
                font-size: 14px;
                font-weight: 400;
            }

            .active-indicator {
                padding: 2px;
                background: $weatherTextColor;
                border-radius: 3px;
                opacity: 0;

                &.show {
                    opacity: 1;
                }
            }
        }

    }

    .scroll-button {
        position: sticky;
        

        &.scroll-button-left {
            left: 0;
        }

        &.scroll-button-right {
            right: 0;
        }
    }
}
