.app {
    background: $widgetBgColor;
    display: flex;
    border-radius: 20px;
    width: 992px;

    .left {
        width: 75%;
        padding: 40px 60px;

        .city-and-date {
            color: $textColor;
            display: flex;
            justify-content: space-between;

            h3 {
                font-weight: 600;
                margin-top: 0;
                font-size: 20px;
            }
        }

        .selected-weather {
            display: flex;
            flex-direction: column;
            align-items: center;

            .selected-temperature {
                font-size: 150px;
                margin: 0;
                font-weight: 400;
                color: $weatherTextColor;
                position: relative;

                .degree {
                    position: absolute;
                }
            }

            .more-info {
                display: flex;
                align-items: center;
                gap: 20px;
                color: $weatherTextColor;
                margin-top: 20px;

                h2,
                h3 {
                    font-weight: 400;
                    margin-bottom: 0;
                    margin-top: 0;
                    font-size: 20px;
                }

                h3 {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
            }
        }

        .daily-forecast {
            display: flex;
            gap: 20px;
            overflow-x: scroll;
            padding: 10px 0px;

            .forecast-day {
                list-style: none;
                margin: 0;
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                border: 2px solid $forecastGreyColor;
                border-radius: 10px;

                &::-webkit-scrollbar {
                    height: 4px;
                    border-radius: 4px;
                    background: $forecastGreyColor;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 4px;
                    background: $textColor;
                }

                .forecast-cell {
                    border-radius: 10px;
                    padding: 5px 15px;
                    text-align: center;
                    cursor: pointer;
                    border: 2px solid transparent;
                    border-radius: 10px solid $forecastGreyColor;
                     transition: 300ms;

                    &:hover {
                        // border: 2px solid $forecastGreyColor;
                        background: $weatherTextColor;

                        .time, .temperature {
                            color: $widgetBgColor;
                        }
                    }

                    .time {
                        color: $textColor;
                        font-size: 12px;
                        margin: 10px 0px;
                        transition: 300ms;
                    }

                    .temperature {
                        color: $weatherTextColor;
                        margin: 10px 0px;
                        transition: 300ms;
                    }

                    .forecast {
                        color: $forecastGreyColor;
                        margin: 10px 0px;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .right {
        width: 25%;
        padding: 40px 0px;
        padding-right: 10px;
        text-align: center;

        .clocks {
            color: $textColor;

            h3 {
                font-weight: 600;
                margin: 5px 0px;
                font-size: 20px;

                &.greeting {
                    margin-top: 0;
                    font-size: 20px;
                }
            }
        }
    }
}
